/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

@import "typography.css?2";
body.mceContentBody{ font-size:13px; }
body.team-title { color: #73AFB6 !important; font-weight: bold !important;}